<mat-toolbar class="search-form">
    <form class="form">
        <div class="search-input">
            <mat-icon>search</mat-icon>
            <input readonly autocomplete="off" class="input" style="width: 100%" type="text" (click)="onClick()">
        </div>
        <div [hidden]="!isShowSearchInfo" #searchInfo (mouseleave)="onMouseLeave()"  class="search-info">
            <div class="search-input">
                <mat-icon class="icon-search">search</mat-icon>
                <input #searchInput (keyup.enter)="onSearch(searchInput.value)" autofocus="autofocus" matInput [formControl]="searchInputControl" autocomplete="off" class="input" style="width: 100%" type="text" >
            </div>

            <mat-divider></mat-divider>
            <div class="search-section"><span>Recently Searched</span></div>
            <mat-list class="search-items">
                <mat-list-item class="item" *ngFor="let searchItem of searchedItems">
                    <mat-icon>search</mat-icon>
                    <span>{{searchItem}}</span>
                </mat-list-item>
            </mat-list>

            <mat-divider></mat-divider>
            <div class="search-section"><span>Recently Viewed</span></div>
            <mat-list class="viewed-items">
                <mat-list-item class="item" *ngFor="let viewedItem of viewedItems$">
                    <mat-icon>cake</mat-icon>
                    <div class="item-info">
                        <span><a (click)="onClick()" [routerLink]="['/list', viewedItem.id]">{{viewedItem.title}}</a></span>
                        <span>{{viewedItem.content}}</span>
                    </div>
                </mat-list-item>
            </mat-list>

        </div>
    </form>
</mat-toolbar>
