.ngrx-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.mat-slidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 200px;
  background: #2D323E;
  //color: #fff;
}

.toolbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.toolbar-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.org-button {
  font-size: 18px;
}

.item {
  padding: 6px 8px;
    color: #fff;
}

.item mat-icon {
  font-size: 20px;
}

.group-items .item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.item .item-name {
  font-size: 13px;
  line-height: 18.2px;
  user-select: none;
  white-space: nowrap;
  text-size-adjust: 100%;

}
.item .item-name:hover {
  background: #2D323E;
}
.group-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 16.072px;
  text-transform: uppercase;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  height: 48px;
  margin: 0 auto;
}
.group-title.hint-text {

}
.group-items {
  margin: 0 14px;
}

.navbar-group {
  border-top: 1px solid #444a5a;
}

.navbar-content {
  padding: 20px auto;
}

.navbar-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #2D323E;
  justify-content: center;
  height: 60px;
  padding: auto 16px;
    color: #fff;
}

.navbar-header .org-button {

}
.navbar-header .toggle-button-navbar {
  justify-self: flex-end;
}

.mat-toolbar {
  background: #3085D8;
  mat-icon {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  user-select: none;
  .form {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    background: dodgerblue;
    align-items: center;
    height: 35px;
    font-size: 14px;
    flex-wrap: wrap;

    .search-input {
      display: flex;
      align-items: center;
      input {
        background: dodgerblue;
        border: none;
        outline: none;
        width: 100%;
        color: #fff;

      }
    }

    .search-info {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      background: #fff;
      font-size: 14px;
      font-family: inherit;
      color: #000;
      z-index: 999;
      border: 1px solid #ccc;
      border-radius: 4px;
      //padding: 0 8px;
      padding: 8px 0;

      .search-section {
        font-size: 12px;
        font-weight: 700;
        font-family: inherit;
        margin-left: 30px;
        color: #888;
      }
      mat-icon.icon-search {
        font-size: 32px;
        color: #444a5a;
        //margin-left: 30px;
      }
      mat-icon{
        font-size: 24px;
        color: #444a5a;
        margin-right: 20px;
      }

      mat-divider {
        margin-top: 6px;
      }

      hr {
        width: 100%;
        border: 0.2px solid #ccc;
      }
      .search-items, .viewed-items {
        .item {
          display: flex;
          align-items: center;
          .item-info {
            display: flex;;
            flex-direction: column;
            span:first-child {
              font-size: 12px;
              color: #000;
              height: 18px;
              font-weight: 500;
            }
            span {
              font-size: 12px;
              color: #000;
              height: 18px;
                a {
                    text-decoration: none;
                    color: inherit;
                }
                a:hover {
                    color: #2D323E;
                }
            }
          }
        }
      }
      .search-input {
        display: flex;
        align-items: center;
        //padding: 8px 0;
        mat-icon {
          font-size: 24px;
        }
        input {
          background: #fff;
          border: none;
          outline: none;
          width: 100%;
          color: #000;

        }
      }
    }

  }
}

.menu-header-link {
  color: inherit;
  text-decoration: none;
}

.spaced {
    padding-right: 16px;
}



