table {
  width: 100%;
    padding: 0 20px;
}

.border-r {
//border-right: 1px solid lightblue;
}

tr.mat-header-row .mat-header-cell {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    padding: 0 10px;
}

tr.mat-row .mat-cell {
    color: rgba(0, 0, 0, 0.8);
    padding: 0 10px;
}

tr.mat-header-row .mat-header-cell:nth-child(1) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}
tr.mat-row .mat-cell:nth-child(1) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}

tr.mat-header-row .mat-header-cell:nth-child(2) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}
tr.mat-row .mat-cell:nth-child(2) {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}

tr.mat-header-row .mat-header-cell:nth-child(3) {
  min-width: 60px;
  max-width: 300px;
  width: 300px;
  border-right: 1px solid #ccc;
  //margin-right: 10px;
}
tr.mat-row .mat-cell:nth-child(3) {
  min-width: 60px;
  max-width: 300px;
  width: 300px;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #ccc;
  //margin-right: 10px;
}

// column 4
tr.mat-header-row .mat-header-cell:nth-child(4) {
  padding-left: 20px;
}
tr.mat-row .mat-cell:nth-child(4) {
  padding-left: 20px;
}


a.detail-link {
  color: inherit;
  text-decoration: none;
}

a.detail-link:hover {
  color: darkblue;
}

tr th.mat-header-cell  {
  font-size: 14px;
  font-weight: bold;
    color: #585757;
}

tr th.mat-header-cell:hover  {
    background: #F1F1F1;
}

div.mat-sort-header-arrow {
    opacity: 0 !important;
    display: none;
}

th.mat-header-cell {
    mat-icon.sort_icon {
        color: #00f;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px !important;
        opacity: 0;
    }
}

th.mat-header-cell[aria-sort="descending"] {
    mat-icon.sort_icon {
        opacity: 1;
        transform: rotate(0deg);
    }
}
th.mat-header-cell[aria-sort="ascending"] {
    mat-icon.sort_icon {
        opacity: 1;
        transform: rotate(180deg);
    }
}
tr.highlight{
    background: #0475D0; /* green */
}

tr.highlight td {
    color: #fff !important;
}

::ng-deep .mat-sort-header-arrow[style] {  //why using ::ng-deep here ?
    display: none !important;
}

.mat-row-hover:hover:not(.highlight) {
    background: #F1F1F1;
}
